*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 1170px;
    margin: auto;
}

header {
    background-image: url(/images/strawbweb.jpg);
    height: 1080px;
    background-size: cover;
    background-position: center;
    position: relative;
}
