*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 1170px;
    margin: auto;
}

body {
    background-image: url(/images/strawbweb.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-area {
    float: right;
    list-style: none;
    margin-top: 50px;
    color: aliceblue;
}

.nav-area li {
    display: inline-block;
}

.logo {
    max-width: 8%;
    max-height: 10%;
    
}

.nav-area li a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Zen Loop', cursive;
    font-size: 18px;
}

.nav-area li a:hover {
    background: aquamarine;
    color: black
}

.logo img {
    width: 100px;
    float: left;
    height: auto;

}

.welcome-text {
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;


}

.welcome-text h1 {
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 60px;
}

.welcome-text a {
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: black;
}

.welcome-text a:hover {
    background: #fff;
    color: darkgreen
}


